.well--params {
    position: relative;
    display: inline-block;
    padding: 36px 16px 12px 16px;
    float: right;
    min-width: 320px;
}

.well--params * {
    margin: 2px auto;
    font-size: 14px;
}

.well--params .caption {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 13px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.well--params .indicator {
    position: absolute;
    top: 18px;
    right: 15px;
    color: #959595;
}

.slider-container * {
    display: inline-block;
}

.slider-selection {
    background: #95a5a6;
}

.slider-handle {
    display: block;
    background: #18bc9c;
}

.stat-card {
    text-align: center;
    min-height: 200px;
}

.stat-card .card-content {
    height: 180px;
    background: #2c3e50;
    border-radius: 4px;
    margin: 10px;
    color: #ffffff;
}

.stat-card h4 {
    font-style: italic;
    position: absolute;
    bottom: 8px;
    right: 36px;
    color: #ffffff
}

justgage tspan {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

